@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  background-color: #E0DDCF;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #0D1321;
}
.navbar h1 {
  color: #0D1321;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  
  padding: 6px;
}
.navbar a:hover {
  color: #9B8816;
}
.content {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

